<nav class="navbar navbar-light bg-light">
  <div class="sub-nav">
    <div class="nav-con">
      <a class="navbar-brand" href="/">
        <img src="https://freeiconshop.com/wp-content/uploads/edd/task-done-flat.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
        Tasks
      </a>
    </div>
    <div class="nav-con link-btn">
      <a href="tasks"><button type="button" class="btn btn-link">All Tasks and Notes</button></a>
    </div>
    </div>
  </nav>